
ema_workbench_l/analysis/__pycache__/relative_prim.cpython-39.pyc
data/Rozenberg et al 2014.csv
data/Hamarat et al 2013.gz
data/Bryant et al 2010.csv
assignment 2 - model answer.ipynb
__pycache__/lakemodel_function.cpython-39.pyc
.ipynb_checkpoints/run_lake_model-checkpoint.ipynb
.ipynb_checkpoints/likelihood_prim_v03b-checkpoint.ipynb
.ipynb_checkpoints/likelihood_prim_v03a-checkpoint.ipynb
.ipynb_checkpoints/likelihood_prim_v02-checkpoint.ipynb
.ipynb_checkpoints/likelihood_prim_v01-checkpoint.ipynb
ema_workbench_l/analysis/__pycache__/relative_prim.cpython-39.pyc
